@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@tailwind base;

@layer base {
  button[type="submit"] {
    @apply p-2  w-full bg-sky-500 rounded;
  }
}
@tailwind components;
@tailwind utilities;

@layer components {
  input {
    @apply w-full p-2 border border-gray-400 rounded;
  }
  button {
    @apply py-4 px-8  max-w-lg bg-blue-600 rounded text-xl;
  }
  select {
    @apply w-full p-2 border border-gray-400 rounded;
  }
  label {
    @apply block;
  }
  h1 {
    @apply text-7xl font-semibold;
  }
  h2 {
    @apply text-6xl font-semibold;
  }
  h3 {
    @apply text-4xl font-semibold;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#head-section p {
  @apply text-slate-400;
}
#head-section span {
  @apply text-[#F6CB60];
}
