@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
@tailwind base;

@layer base {
  button[type="submit"] {
    @apply p-2  w-full bg-sky-500 rounded;
  }
}
@tailwind components;
@tailwind utilities;

@layer components {
  input {
    @apply w-full p-2 border border-gray-400 rounded;
  }
  button {
    @apply py-4 px-8  max-w-lg bg-blue-600 rounded text-xl;
  }
  select {
    @apply w-full p-2 border border-gray-400 rounded;
  }
  label {
    @apply block;
  }

  h1 {
    @apply 2xl:text-9xl md:text-7xl sm:text-6xl text-5xl font-semibold;
  }
  h2 {
    @apply 2xl:text-8xl md:text-6xl text-4xl font-semibold;
  }
  h3 {
    @apply 2xl:text-6xl md:text-4xl text-2xl font-semibold;
  }
  h4 {
    @apply 2xl:text-2xl sm:text-lg text-base font-bold;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#head-section p {
  @apply text-slate-400;
}
#head-section span {
  @apply text-[#F6CB60];
}

/* HAMBURGER MENU */

.hamburger {
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
}
.hamburger [class*="-bun"] {
  background: #fff;
}
.hamburger__top-bun,
.hamburger__bottom-bun {
  content: "";
  position: absolute;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
  background: #eeeff;
}

.hamburger__top-bun {
  transform: translateY(-5px);
}

.hamburger__bottom-bun {
  transform: translateY(3px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(-1px);
}

.open .hamburger__top-bun {
  transform: rotate(45deg) translateY(0px);
}

.open .hamburger__bottom-bun {
  transform: rotate(-45deg) translateY(0px);
}
